body {
    background-color: #FDFDFD;
    padding: 0%;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #252525;
    color: #FDFDFD;
    margin: 0%;
    padding: 15px;
}

header h1 {
    margin: 0%;
}

#task-board {
    justify-content: center;
    display: flex;
}

.board {
    width: 300px;
    background-color: #252525;
    color: #FDFDFD;
}