body {
    background-color: #FDFDFD;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #252525;
    color: #FDFDFD;
    padding: 15px;
}

header > #title > h1 {
    margin: 0%;
}

#task-board {
    justify-content: center;
    display: flex;
}

.task-list {
    margin: 0%;
}

.board {
    min-width: 300px;
    max-width: 300px;
    background-color: #252525;
    color: #FDFDFD;
    margin: 10px;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.board-header > button{
    float: right;
}

#board-form {
    min-width: 300px;
    max-width: 300px;
    background-color: #252525;
    color: #FDFDFD;
    margin: 10px;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
}

#board-form > input{
    width: 200px;
}

#board-form > button{
    width: 100px;
    float: right;
}